<app-header></app-header>

<mat-card class="home_banner">

  <mat-card-content class="home_banner_wrapper">

    <span class="bannr_text_con">

      <span class="bannr_text_wrapper">

        <h2>Protect Your Future!</h2>
        <label>It’s Time To Go Solar!!</label>

        <p>The government is offering a massive 30% tax credit for all properties that decide to go for Solar installations in 2019. In addition to that, an additional 100% Bonus Depreciation is also there for the taking, this year!
</p>


<button (click)="scroll()">GET A QUOTE TODAY!!!</button>
           <span class="clear"></span>

    </span>

    </span>

    <mat-card-subtitle class="top_formblock">

      <h2>Request a</h2>
      <h3>FREE CONSULTATION</h3>
      <form [formGroup]="myform" autocomplete="off" name="myform" (ngSubmit)="doSubmit()">

        <mat-form-field>
          <input matInput placeholder="First Name" [formControl]="myform.controls['fname']"  (blur)="inputUntouch(myform,'fname')">
            <mat-error *ngIf="myform.controls['fname'].touched && !myform.controls['fname'].valid
           && myform.controls['fname'].errors.required">
                First Name field can not be blank</mat-error>
        </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="Last Name" [formControl]="myform.controls['lname']"  (blur)="inputUntouch(myform,'lname')">
          <mat-error *ngIf="myform.controls['lname'].touched && !myform.controls['lname'].valid
           && myform.controls['lname'].errors.required">
              Last Name field can not be blank</mat-error>
      </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Street Address" [formControl]="myform.controls['saddress']"  (blur)="inputUntouch(myform,'saddress')">
            <mat-error *ngIf="myform.controls['saddress'].touched && !myform.controls['saddress'].valid
           && myform.controls['saddress'].errors.required">
                Street Address field can not be blank</mat-error>
        </mat-form-field>

          <mat-form-field>
            <select matNativeControl [formControl]="myform.controls['state']"  (blur)="inputUntouch(myform,'state')">
                <option value="">State</option>
                <option *ngFor="let statename of stateList" [value]="statename.abbreviation">{{statename.name}}</option>
              </select>
            <mat-error
                    *ngIf="myform.controls['state'].touched && myform.controls['state'].errors">
                State field can not be blank</mat-error>
        </mat-form-field>
        
          <mat-form-field>
                <select matNativeControl [formControl]="myform.controls['city']" (blur)="inputUntouch(myform,'city')">
                <option value="">City</option>
                <option *ngFor="let cityname of cityList" [value]="cityname.city">{{cityname.city}}</option>
                </select>
            <mat-error
                    *ngIf="myform.controls['city'].touched && myform.controls['city'].errors">
                City field can not be blank</mat-error>
        </mat-form-field>


          <mat-form-field>
              <input matInput placeholder="Zip" [formControl]="myform.controls['zip']"  (blur)="inputUntouch(myform,'zip')">
              <mat-error *ngIf="myform.controls['zip'].touched && !myform.controls['zip'].valid
           && myform.controls['zip'].errors.required">
                  Zip field can not be blank</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="Home Phone" [formControl]="myform.controls['homephone']"  (blur)="inputUntouch(myform,'homephone')">
               <mat-error *ngIf="myform.controls['homephone'].touched && !myform.controls['homephone'].valid
           && myform.controls['homephone'].errors.required">
              Home Phone field can not be blank</mat-error>
          </mat-form-field>


          <mat-form-field>
              <input matInput placeholder="Work Phone" [formControl]="myform.controls['workphone']"  (blur)="inputUntouch(myform,'workphone')">
              <mat-error *ngIf="myform.controls['workphone'].touched && !myform.controls['workphone'].valid
           && myform.controls['workphone'].errors.required">
                  Work Phone field can not be blank</mat-error>
          </mat-form-field>


          <mat-form-field>
              <input matInput placeholder="Email" [formControl]="myform.controls['email']"  (blur)="inputUntouch(myform,'email')">
              <mat-error *ngIf="myform.controls['email'].touched && !myform.controls['email'].valid
           && myform.controls['email'].errors.required">
                  Email field can not be blank</mat-error>
                <mat-error *ngIf="!myform.controls['email'].valid && myform.controls['email'].errors.email">Email is
                        not valid</mat-error>
          </mat-form-field>

           <mat-form-field>
              <select matNativeControl [formControl]="myform.controls['homewoner']" (blur)="inputUntouch(myform,'homewoner')">
                  <option value=""> Homeowner Yes / No</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
              </select>
              <mat-error
                   *ngIf="myform.controls['homewoner'].touched && myform.controls['homewoner'].errors">
                   Homewoner field can not be blank</mat-error>
            </mat-form-field>
            
          <mat-form-field>
              <input matInput placeholder="Electricity Provider" [formControl]="myform.controls['electricityprovider']"  (blur)="inputUntouch(myform,'electricityprovider')">
              <mat-error *ngIf="myform.controls['electricityprovider'].touched && !myform.controls['electricityprovider'].valid
           && myform.controls['electricityprovider'].errors.required">
                  Electricity Provider field can not be blank</mat-error>
          </mat-form-field>

          <mat-form-field>
              <select matNativeControl [formControl]="myform.controls['shade']"  (blur)="inputUntouch(myform,'shade')">
                <option value="">Shade / No shade</option>
                <option value="shade">Shade</option>
                <option value="noshade">No Shade</option>
              </select>
              <mat-error
                   *ngIf="myform.controls['shade'].touched && myform.controls['shade'].errors">
                   Homewoner field can not be blank</mat-error>
          </mat-form-field>

          <span class="clear"></span>
          <mat-form-field class="textareafield">

              <textarea matInput placeholder="Monthly Utility Bill" [formControl]="myform.controls['utility']"  (blur)="inputUntouch(myform,'utility')"></textarea>
              <mat-error *ngIf="myform.controls['utility'].touched && !myform.controls['utility'].valid
           && myform.controls['utility'].errors.required">
                  Monthly Utility Bill field can not be blank</mat-error>
          </mat-form-field>

          <button mat-flat-button type="submit" class="topsubbtn" ><span>Submit </span></button>



      </form>

    </mat-card-subtitle>



    <span class="clear"></span>


  </mat-card-content>


</mat-card>


<mat-card class="home_block2">
    <mat-card-content>

        <img src="../../assets/images/home_block2_img1.png" alt="#">
        <h2>REDUCE ENERGY COSTS</h2>
        <p>The costs of Solar panels have become cheaper by at least 70 percent within the last few years. Along with this reduced pricing, there are no installation or serving costs to be paid upfront. This has made it easy, affordable and convenient for you to make the switch to Solar. As a homeowner, you will be able to make significant savings on your energy expenses by making the switch to Solar energy <strong>TODAY!</strong></p>

    </mat-card-content>

    <mat-card-content>

        <img src="../../assets/images/home_block2_img2.png" alt="#">
        <h2>THE SOLAR WAY</h2>
        <p>Apart from the fact that Solar energy brings about a significant reduction in your energy costs, it is also a way for you to contribute towards a cleaner environment. At the same time, the installation of the Solar energy system in your property also raises its value. Hence, not only would you be saving thousands every year, you would also be offering a great boost to your property! Want to know <strong>HOW</strong>?
        </p>

    </mat-card-content>

    <mat-card-content>

        <img src="../../assets/images/home_block2_img3.png" alt="#">
        <h2>SAVINGS, SAVINGS, SAVINGS</h2>
        <p>The <strong>Federal government</strong>, as well as a number of <strong>State governments</strong>, offer massive incentives, rebates, and other schemes to homeowners in several regions in the country by ZIP Codes. These incentives and rebates could save you thousands of dollars during installation, and sometimes, even cover the entire expenses of the installation of the Solar panels. Get in touch to find out how much saving you qualify for!
        </p>

    </mat-card-content>

    <span class="clear"></span>

    <button (click)="scroll()">GET A QUOTE TODAY!!!</button>


</mat-card>

<mat-card class="home_block3">
<mat-card class="home_block3_wrapper">

    <h2>HOW DOES SOLAR ENERGY WORK?</h2>

    <h4>There are a number of important factors and areas that work together to make Solar energy efficient and effective towards covering the energy requirements of your home. Some of these factors include:</h4>

    <mat-card-content>
        <span class="home_block3img"><img src="../../assets/images/home_block3_img1.jpg" alt="#"></span>
        <label>Solar Panels</label>
        <p>The Solar panels, once installed, soak up the sunlight and transform it into electrical energy (DC) that flows to and is stored in inverters.</p>

    </mat-card-content>


    <mat-card-content>
        <span class="home_block3img"><img src="../../assets/images/home_block3_img2.jpg" alt="#"></span>
        <label>Inverters</label>
        <p>Inverters transform the stored Direct Current (DC) into Alternating Current (AC), which then flows to the switchboard for dispersion.</p>

    </mat-card-content>


    <mat-card-content>
        <span class="home_block3img"><img src="../../assets/images/home_block3_img3.jpg" alt="#"></span>
        <label>Switch Board</label>
        <p>The Alternating Current (AC) flowing in from the Inverter is dispersed into the various appliances in your home or commercial property.</p>

    </mat-card-content>


    <mat-card-content>
        <span class="home_block3img"><img src="../../assets/images/home_block3_img4.jpg" alt="#"></span>
        <label>Utility Meter</label>
        <p>The Utility Meter keeps a tab on the energy consumption of your property, while excessive energy created is transferred to the Grid.
        </p>

    </mat-card-content>


    <mat-card-content>
        <span class="home_block3img"><img src="../../assets/images/home_block3_img5.jpg" alt="#"></span>
        <label>The Grid</label>
        <p>A network of Electricity production-and-supply providing power to your property when demand exceeds the production of your Solar Panel.
        </p>

    </mat-card-content>

    <mat-card-content>
        <span class="home_block3img"><img src="../../assets/images/home_block3_img6.jpg" alt="#"></span>
        <label>Monitoring</label>
        <p>A Tracking system that monitors the production and consumption of Solar energy in your home or commercial building, round-the-clock.
        </p>

    </mat-card-content>

    <span class="clear"></span>

    <button (click)="scroll()">GET A QUOTE TODAY!!!</button>
</mat-card>
</mat-card>


<mat-card class="home_block5">
    <mat-card class="home_block5_wrapper">
    <h2>GO SOLAR IN 4 SIMPLE STEPS</h2>

        <ul>
            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block5_img1.png" alt="#"></span>
                <label>CONSULT AN EXPERT ON SOLAR PANEL SYSTEMS TODAY
                </label>

            </li>
            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block5_img2.png" alt="#"></span>
                <label>GET YOUR SOLAR PANEL SYSTEM DESIGNED BY EXPERTS</label>

            </li>
            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block5_img3.png" alt="#"></span>
                <label>SCHEDULE THE INSTALLATION WHEN YOU WANT</label>

            </li>
            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block5_img4.png" alt="#"></span>
                <label>START SAVING $$$ ON YOUR ELECTRICITY EXPENSES</label>

            </li>

        </ul>

        <button (click)="scroll()">GET A QUOTE TODAY!!!</button>

    </mat-card>

</mat-card>

<mat-card class="home_block4">
    <mat-card class="home_block4_wrapper">

        <h2>REDUCE YOUR MONTHLY ELECTRICITY BILLS, OR EVEN GET RID OF THEM
        </h2>

        <h3>Electricity is essential to power your home. You can’t get rid of it! What you CAN do, however, is reduce the costs at which you provide power to the various appliances in your property. Making the switch to Solar energy will go a long way in reducing your electricity bills significantly. It may even get rid of it. Even with increasing costs of electricity consumption, you won’t be affected much knowing that your Solar Panel System will produce a majority to almost all the power your home consumes. Get in touch with us TODAY to find out how much savings you can make!
        </h3>

        <ul>


            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block4_img2.jpg" alt="#"></span>
                <label>What is the cost of using Solar Energy?  </label>

                <p>It’s way less than what you currently pay for traditional electricity! Depending on whether you cover the entire cost upfront or pay on-the-go, and the various incentives and rebates they come with, you could be paying even less. Financing opportunities from government offices and private companies can make your switch to Solar easy, convenient and AFFORDABLE! You can get a <strong>FREE</strong> quote from an expert in your area, <strong>TODAY</strong>, by filling out a simple form!

                </p>

            </li>


            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block4_img3.jpg" alt="#"></span>
                <label>How Solar Energy Works To Power Your Home? </label>

                <p>The energy from the rays of the Sun is absorbed by the Solar Panels installed in your property. This energy is then transferred into an inverter through electrical wires to be stored in the form of Direct Current (DC). This stored energy is converted in Alternating Current (AC) before being sent to the Switchboard for dispersion to the many electrical appliances in your home. Any excess electricity, beyond your home-consumption, is fed back to your electricity grid!
                </p>

            </li>


            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block4_img4.jpg" alt="#"></span>
                <label>Incentives & Rebates From Governments</label>

                <p>There are numerous incentives, rebates, tax credits and similar savings schemes offered by Federal and State governments, and utility companies. These schemes offer massive savings in the electricity bills of your residential or commercial properties. Find out TODAY what savings you qualify for, and take full advantage of the many benefits and savings that are on offer, before they disappear for good. However you see it, it’s a Win-Win situation for you!
                </p>

            </li>


            <li>
                <span class="home_block4img"><img src="../../assets/images/home_block4_img5.jpg" alt="#"></span>
                <label>Your Roof Will Look Much Better With Solar Panels</label>

                <p>Solar Panel manufacturers today have been able to design and develop attractive and elegant-looking units, while also improving their efficiency greatly. Depending on the styling and design of your house, you will be able to find the ideal Solar Panels that will blend well with the design to improve the look. The wide variety of options available to you is sure to leave you spoilt-for-choices! Get Solar Panels for your roof, and give your property the perfect exterior redesign.</p>

            </li>







            <span class="clear"></span>

        </ul>





        <button (click)="scroll()">GET A QUOTE TODAY!!!</button>


    </mat-card>

</mat-card>

<mat-card class="home_block6">
    <mat-card class="home_block6_wrapper">

        <h2>There is a lot of hype about Solar Energy right now. And the benefits on offer are no less either! It would be a shame for you to miss out on this Solar Boom, as you could be saving thousands every year, while also making significant contributions towards a cleaner and healthier environment!
        </h2>

        <button (click)="scroll()">Consult An Expert TODAY! <span>IT’S FREE!!!</span></button>

    </mat-card>

</mat-card>

<app-footer></app-footer>